<nav class="navbar navbar-expand-sm ">
  
    <ul class="navbar-nav">
      
      <li class="nav-item">
        <a routerLink="/" class="nav-link" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </nav>
  
<form #editForm ='ngForm' (ngSubmit) = 'editPoints()'>
    <label>Points
        <input type=number [(ngModel)]='editTeamdetails.points' name='points' #points= ngModel>
    </label><br>
    <label>Rank
        <input type=number [(ngModel)]='editTeamdetails.ranking' name='ranking' #points= ngModel>
    </label><br>
    
    
    <div class="form-group">
        <button type="submit" class="btn" btn-success center-block>edit</button>
    </div>
    
    </form>