<nav class="navbar navbar-expand-sm ">
  
  <ul class="navbar-nav">
    
    <li class="nav-item">
      <a routerLink="/" class="nav-link" routerLinkActive="active">Logout</a>
    </li>
  </ul>
</nav>

<html >
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div class ="mainimg">
<div class="header">
  <h1>HELLO BIDDER</h1>
  
</div>

<div class="topnav">
  <a href="/bidderleaderboardlist">Leaderboard</a>
  <a href="/list">Upcoming Matches</a>
  <a href="/teamdetails">Points Table</a>
</div>

<div class="row">
  <div class="column side">
    <h2>PLAY</h2>
    <p></p>
  </div>
  
  <div class="column middle">
    <h2>BID</h2>
    </div>
  
  <div class="column side">
    <h2>WIN</h2>
    
  </div>
</div>

<div class="footer">
  <H2>PLAY-BID-WIN</H2>
</div>
 </div> 
</body>
</html>
