table,th,td {
    border: 1px solid black;
    widows: 100%;
   }
   
   table,th, td {
    text-align: left;
    padding: 8px;
   }
   
   tr:nth-child(even) {
    background-color:yellow;
   }
   
   :host .mainimg {
    background-image: url("main.jpg");
    background-color: #cccccc;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    
  }      
          
   
  
   
   a {
     color: dodgerblue;
   }
   .login-page {
     width: 360px;
     padding: 10% 0 0;
     margin: auto;
   }